

.header__button {
    display: none;

    @mixin pc {
        padding: 6px 18px;

        color: #2C2C2C;
        background-color: #BBF330;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.54;
    }

    &:hover,
    &:focus {
        background-color: #B5FF00;
    } 

.hero__button {
    padding: 6px 18px;
    color: #2C2C2C;
    background-color: #BBF330;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;

    &:hover,
    &:focus {
        background-color: #B5FF00;
    }
}



.offerings__button {
    padding: 10px 22px;
    color: #2C2C2C;
    background-color: #FFFFFF;
    border: 2px solid #7EB101;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;

    &:hover,
    &:focus {
        border: 2px solid #597D00;
    }


.subscribe__button {
    padding: 11px 22px;
    color: #2C2C2C;
    background-color: #BBF330;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;

    &:hover,
    &:focus {
        background-color: #B5FF00;
    }
}

.footer__button {
    padding: 11px 22px;
    color: #2C2C2C;
    background-color: #FFFFFF;
    border: 0.854167px solid #7EB101;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;

    &:hover,
    &:focus {
        background-color: #FFE550;
    }
}

.burger_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 28px;
    min-width: 28px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    @media (min-width: 768px) {
        display: none;
    }

    &:hover,
    &:focus {
        fill: #FFE550;
    }
}
.buttonOpenModal {

    padding: 6px 18px;
    color: #2C2C2C;
    background-color: #BBF330;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-left: 30px;


    &:hover,
    &:focus {
        background: #B5FF00;
    }

}


.modal__submit-btn {
    padding: 10px 38px;
    color: #2C2C2C;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;
    background-color: #FFFFFF;
    border: 2px solid #7EB101;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    &:hover,
    &:focus {
        border: 2px solid #597D00;
    }

    &:active {
        background: #BBF330;
    }
}