.header__button {  
   padding: 6px 18px;
  color: var(--title-color-text);
  background-color: var(--button-color);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
    transition: var(--animation-timing-function);
    &:hover,
    &:focus {
    background-color: #B5FF00;
    }
}



.hero__button {
  padding: 6px 18px;
  color: var(--title-color-text);
  background-color: var(--button-color);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  transition: var(--animation-timing-function);

  &:hover,
  &:focus {
    background-color: #B5FF00;
  }
}



.offerings__button {
  padding: 10px 22px;

  color: var(--title-color-text);
  background-color: #FFFFFF;
  border: 2px solid var(--foter-text-color);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  transition: var(--animation-timing-function);

  &:hover,
  &:focus {
    border: 2px solid #597D00;
  }
}

.subscribe__btn {
  padding: 11px 22px;
  color: var(--title-color-text);
  background-color: var(--button-color);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  transition: var(--animation-timing-function);

  &:hover,
  &:focus {
    background-color: #B5FF00;
  }
}
.subscribe__btn.subscribe__btn {
  &:hover,
  &:focus {
    background-color: #B5FF00;
  }
}

.footer__button {
  padding: 11px 22px;
  color: var(--title-color-text);
  background-color: #FFFFFF;
  border: 0.854167px solid var(--foter-text-color);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  transition: var(--animation-timing-function);

  &:hover,
  &:focus {
    background-color: var(--maim-bg-color-and-border);
  }
}



.hero__buttonOpenModal {
  


  &:hover,
  &:focus {
    background: #B5FF00;
  }

}
.hero__buttonOpenModal.offerings__button {
  &:hover,
    &:focus {
      background-color: #FFFFFF;
      
    }
}

.modal__submit-btn {
  padding: 10px 38px;
  color: var(--title-color-text);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
  background-color: #FFFFFF;
  border: 2px solid var(--foter-text-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  transition: var(--animation-timing-function);
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid #597D00;
  }

  &:active {
    background: var(--button-color);
  }
}

