.footer__item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: #000000;

}
.footer__title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10.71;

    color: #2C2C2C;

}
.footer__input {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12.5;

    color: #505050;
}
.footer__button {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 11.54;

    color: #2C2C2C;
}

.footer__discriotion {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;

    color: #2C2C2C;

    // @mixin tablet {
    //     font-size: 12px;
    //     line-height: 1.166;
    // }
}

.footer__discriotio__item {
    text-decoration-line: underline;

    color: #7EB101;
}

.footer__nav {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-decoration-line: underline;

    color: #7EB101;

    // @mixin tablet {
    //     font-size: 12px;
    //     line-height: 1.166;
    // }

}