.container__footer {
     width: 1280px;
     padding: 60px 0;
     @media pc {
         padding: 100px 0;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }    

    @media screen and (min-width: 768px) {
        width: 768px;
    } 

    @media screen and (min-width: 1280px) {
        width: 1280px;
    } 
}

.container__footer {
    @media screen and(max-width:480px) {
        
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image:
        url("../images/footer-bg/bg-tel-1x.jpg");

         @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {

        background-image:
        url("../images/footer-bg/bg-tel-2x.jpg");
        }
    }
}

.container__footer {
    @mixin tablet {
        
        background-image:
        url("../images/footer-bg/bg-tablet-1x.jpg");
            
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image:
        url("../images/footer-bg/bg-tablet-2x.jpg");  
        }
    }    
}
.container__footer {
    @mixin pc {   
                background-image:
                url("../images/footer-bg/bg-desk-1x.jpg");  
                
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image:
                url("../images/footer-bg/bg-desk-2x.jpg");
                }
    }
}


.logo__footer {
    width: 69px;
    margin-left: 20px;
    margin-right: 81px;

    @mixin tablet {
        margin-left: 33px;
        margin-right: 114px;
    } 
        

    @mixin pc {
        width: 66px;
        margin-left: 16px;
        margin-right: 148px;
    }
}

.footer__list {
    display: block;
    margin-bottom: 40px;
    @mixin tablet {
        display: flex;
        margin-bottom: 57px;
    }
}
.footer__item {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: #000000;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @mixin tablet {
        
        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 28px;
        }
    }
}
.footer__title__from {
    display: block;
}
.footer__title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10.71;

    color: #2C2C2C;
}

.footer__input {
    width: 279px;
    height: 42px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12.5;

    color: #505050;

    background: #FEFEFE;
    border: 0.854167px solid #FFE550;
    border-radius: 30px;
}
// .footer__button {
//     font-style: normal;
//     font-weight: 500;
//     font-size: 13px;
//     line-height: 11.54;

//     color: #2C2C2C;
// }

.footer__discriotion {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;

    color: #2C2C2C;

    @mixin tablet {
        font-size: 12px;
        line-height: 1.166;
    }
}

.footer__discriotio__item {
    text-decoration-line: underline;

    color: #7EB101;
}

.footer__nav {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-decoration-line: underline;

    color: #7EB101;

    @mixin tablet {
        font-size: 12px;
        line-height: 1.166;
    }

}