.footer {
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}
.container__footer {
  
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image:
        url("../images/footer-bg/bg-tel-1x.jpg");

         @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {

        background-image:
        url("../images/footer-bg/bg-tel-2x.jpg");
        }

    @media screen and(min-width:768px) {
        width: 768px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image:
        url("../images/footer-bg/bg-tablet-1x.jpg");
            
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image:
        url("../images/footer-bg/bg-tablet-2x.jpg");  
        }
    }    

    @media screen and(min-width:1280px) {
                width: 1280px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image:
                url("../images/footer-bg/bg-desk-1x.jpg");  
                
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image:
                url("../images/footer-bg/bg-desk-2x.jpg");
                }
    }
}


.logo__footer {
    width: 69px;
    margin-right: 81px;

    @media screen and(min-width:768px) {
        margin-right: 114px;
      
    } 
        
    @media screen and(min-width:1280px) {
        width: 66px;
        margin-right: 148px;
    }
}
.footer__logo__list {
    display: flex;
   
    @media screen and(min-width:768px) {

        margin-bottom: 40px;
        align-items: center;
    }
    
    @media screen and(min-width:1280px) {
      
        align-items: center;
    }
}
.footer__list__from {

    @media screen and(min-width: 1280px) {
        display: flex; 
        margin-bottom: 80px;
        justify-content: space-between;  
    }
}

.footer__list {
    margin-bottom: 40px;

    @media screen and(min-width:768px) {
        display: flex;
        margin-bottom: 0;
    }
  
}

.footer__link {   
    text-decoration-line: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color:#000000;
    transition: color var(--animation-timing-function);
    &:hover,
    &:focus {
        text-decoration-line: underline;
      
        color:var(--button-color);
    }
}

.footer__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @media screen and(min-width:768px) {
        margin-bottom: 0;
        &:not(:last-child) {
            margin-right: 28px;
            margin-bottom: 0;
        }
    }
}

.footer__title__from {
    margin-bottom: 60px;

    @media screen and(min-width:768px) {
        margin-bottom: 100px;
    }

    @media screen and(min-width:1280px) {
        margin-bottom: 0;
    }
}

.footer__title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;

    color: var(--title-color-text);
}
.footer__from {
    @media screen and(min-width:768px) {
        display: flex;
    }
}
.footer__input {
    width: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;

    outline: #FFE550;
    color:#505050;
    
    background: #FEFEFE;
    border: 0.854167px solid #FFE550;
    border-radius: 30px;
    padding: 12px 61.5px 12px 12px;

    &:hover,
    &:focus {            
        border: 0.854167px solid #7EB101;
    }

    @media screen and(min-width:768px) {
        width: 279px;
    }
}

.button__input {
    display: block;
    margin-left: auto;
    margin-top: 20px;
   
    @media screen and(min-width: 768px) {
        margin-left: 13px;
        margin-top: 0;
        margin-right:0;
    }  
}

.footer__discriotion {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;

    color: var(--title-color-text);
    margin-top: 20px;
    @media screen and(min-width:768px) {
        font-size: 12px;
        line-height: 1.166;
        margin-top: 12px;
    }
}

.footer__discriotion__item {
    text-decoration-line: underline;
    color:#7EB101;
}

.footer__nav__data {
    @media screen and(min-width:768px) {
        display: flex;
        justify-content: space-between;
    }
}

.footer__list__nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    @media screen and(min-width:768px) {
        margin-bottom: 0;
    }
}

.footer__nav {
    &:not(:last-child) {
        margin-right: 33px;   
    }

    @media screen and(min-width:768px) {
        font-size: 12px;
        line-height: 1.166;
        &:not(:last-child) {
            margin-right: 20px;   
        }
    }
}

.nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-decoration-line: underline;

    color:#7EB101;
}

.footer__data {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;

    color:- var(--title-color-text);
    text-align: center;
    @media screen and(min-width: 768px) {
        font-size: 12px;
        line-height: 1.166;
    }
}