.hero {
    padding-bottom: 0;

    @media screen and (min-width:320px) {
        padding-top: 132px;
    }

    @media screen and (min-width:1280px) {
        padding-top: 86px;
    }
}

.hero__container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

    @media screen and (max-width:767px) {
        justify-content: center;
    }

    @media screen and (min-width:768px)  and (max-width:1279px) {
        align-items: flex-start;
        margin-bottom: 78px;
        height: 409px;
    }

    @media screen and (max-width:767px) {
    }
}

.hero__wrap {
    width: 503px;
    @media screen and (min-width:320px) {
        width: 280px;
    }
}

.hero__title {
    margin: 0;
    width: 280px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;


    color: #2C2C2C;

    @media screen and (max-width:767px) {
        margin-bottom: 28px;
    }

    @media screen and (min-width:768px) {
        margin-bottom: 44px;
        width: 537px;
        font-size: 42px;
        line-height: 1.2;
    }
    
    @media screen and (min-width:1280px){
        width: 503px;
        font-size: 48px;
        line-height: 1.2;
    }
}

.hero__description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #2C2C2C;

    @media screen and (max-width:767px) {
        width: 266px;
        margin-bottom: 28px;
        font-size: 14px;
            line-height: 1.5;
    }

    @media screen and (min-width:768px) {
        width: 336px;
    }

    @media screen and (min-width:1280px) {
        width: 503px;
    }
}

.hero__slider {
    position: relative;
    margin-right: 14px;
    border-radius: 50%;
    width: auto;
    height: auto;

    @media screen and (min-width:768px) and (max-width:1279px) {
        margin-top: auto;
        margin-right: 8px;
    }
        @media screen and (max-width:767px) {
            display: none;
        }
    
        @media screen and (min-width:768px) {
            margin-top: auto;
            border: 14px solid #FFE550;
        }
    
        @media screen and (min-width:1280px) {
            border: 26px solid #FFE550;
        }
}

.hero__img {
    border-radius: 50%;

    
}


.hero__slider_btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    left: -16px;
    transform: translate(-50%, -50%);
   
    border: none;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

    @media screen and (max-width:767px) {
            display: none;
        }

    @media screen and (min-width:768px) and (max-width:1279px)  {
        width: 34px;
        height: 28px;
        left: -5px;
        transform: translate(-50%, -50%);
    }

    @media screen and (min-width:1280px) {
        width: 48px;
            height: 40px;
    }

    &:hover,
    &:focus {
        fill: #7EB101;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
}

.hero__slider_btn-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    right: -40px;
    transform: translate(0, -50%);
    
    border: none;
    border-radius: 8px;
    background-color: #fefefe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

    @media screen and (max-width:767px) {
            display: none;
        }

    @media screen and (min-width:768px) and (max-width:1279px){
        width: 34px;
        height: 28px;
        right: -22px;
        transform: translate(0, -50%);

    }
    
    @media screen and (min-width:1280px) {
        width: 48px;
        height: 40px;
    }
    
    &:hover,
        &:focus {
            fill: #7EB101;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        }
}

.hero__svg {
    @media screen and (min-width:768px){
        width: 11px;
            height: 20px;
    }

    @media screen and (min-width:1280px){
        width: 17px;
        height: 29px;
    }
}
