body {
    background-color: #FEFEFE;
    color: #2c2c2c;

    font-family: "Roboto", sans-serif;
}

body.modal-open {
    overflow: hidden;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// .practice__title,
// .team-title,
// .clients-title {
//     margin-top: 0;
//     margin-bottom: 50px;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.16;
//     text-align: center;

//     @media screen and (max-width:767px) {

//         margin-bottom: 30px;

//     }
// }

.section {
    padding-top: 60px;
        padding-bottom: 60px;
}
//     @media screen and (min-width:768px) {
//         padding-top: 60px;
//         padding-bottom: 60px;
//     }

//     @media screen and (min-width:1200px) {
//         padding-top: 94px;
//         padding-bottom: 94px;
//     }

// }