body {
    background-color: #FEFEFE;
    color: #2c2c2c;

    font-family: "Roboto", sans-serif;
}

body.modal-open {
    overflow: hidden;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.section {
    @media screen and (max-width:767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width:768px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        max-width: 480px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}




