:root {
    --title-color-text: #2C2C2C;
    --link-activ-color: rgba(187, 243, 48, 1);
    --button-color: #BBF330;
    --maim-bg-color-and-border: rgba(255, 229, 80, 1);
    --foter-text-color: rgba(126, 177, 1, 1);
    --modal-eror-text: #FE6060;


    --animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}