<div class="burger_menu-box">
  <button type="button" class="burger_menu" data-modall-open>
    <svg width="28" height="28" aria-label="Перемикач мобільного меню">
      <use href="/src/images/symbol-defs.svg#icon-menu"></use>
    </svg>
  </button>
</div>
<div class="burger_menu-conteiner is-hidden list" data-modall>
  <button type="button" class="burger_menu-cross" data-modall-close>
    <svg width="11" height="11" aria-label="Перемикач мобільного меню">
      <use class="cross" href="/src/images/symbol-defs.svg#icon-cross"></use>
    </svg>
  </button>
  <ul class="burger_menu-list list">
    <li class="burger_menu-item">
      <a href="#hero" class="burger_menu-text current">Hero</a>
    </li>
    <li class="burger_menu-item">
      <a href="#offerings" class="burger_menu-text">About</a>
    </li>
    <li class="burger_menu-item">
      <a href="#offerings" class="burger_menu-text">Offerings</a>
    </li>
    <li class="burger_menu-item">
      <a href="#customers" class="burger_menu-text">Customers Say</a>
    </li>
    <li class="burger_menu-item">
      <a href="#subscribe" class="burger_menu-text">Subscribe</a>
    </li>
  </ul>
</div>
