<div class="button-mob">
    <button type="button" class="burger_menu js-open-menu">
        <svg width="28" height="28" aria-label="Перемикач мобільного меню">
            <use href="/src/images/symbol-defs.svg#icon-menu"></use>
        </svg>
    </button>
</div>



<div class="burger_menu-conteiner  list  js-menu-container">
    <button type="button" class="burger_menu-cross js-close-menu">
        <svg width="11" height="11" aria-label="Перемикач мобільного меню">
            <use class="cross" href="/src/images/symbol-defs.svg#icon-cross"></use>
        </svg>
    </button>
    <!-- <div class="mobile-menu"> -->
    <ul class="burger_menu-list list">
        <li class="burger_menu-item">
            <a href="./index.html" class="burger_menu-text current">Home</a>
        </li>
        <li class="burger_menu-item"><a href="" class="burger_menu-text">About</a></li>
        <li class="burger_menu-item"><a href="" class="burger_menu-text">Service</a></li>
        <li class="burger_menu-item"><a href="" class="burger_menu-text">Menu</a></li>
        <li class="burger_menu-item"><a href="" class="burger_menu-text">Contact</a></li>
    </ul>
    <!-- </div>    -->
</div>