<section class="customers">
  <h2 class="customers__title">What our Customers Say</h2>
  <p class="customers__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="customers__list">
    <li class="customers__item">
      <svg width="17px" height="16px">
        <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
      </svg>
      <svg width="17px" height="16px">
        <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
      </svg>
      <svg width="17px" height="16px">
        <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
      </svg>
      <svg width="17px" height="16px">
        <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
      </svg>
      <svg width="17px" height="16px">
        <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
      </svg>
      <p class="customers__text">
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </p>
      <div class="customers__name">
        <img
          src="./images/customers/Sumith-Shah.jpg"
          alt="Sumith-Shah"
          width="48px"
          height="48px"
        />
        <h3>Sumith Shah</h3>
        <p>Some Dude</p>
      </div>
    </li>
    <li class="customers__item">
      <div class="customers__icons">
        <svg width="17px" height="16px">
          <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
        </svg>
        <svg width="17px" height="16px">
          <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
        </svg>
        <svg width="17px" height="16px">
          <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
        </svg>
        <svg width="17px" height="16px">
          <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
        </svg>
        <svg width="17px" height="16px">
          <use href="./images/customers/symbol-defs.svg#icon-vector"></use>
        </svg>
      </div>

      <p class="customers__text">
        “The ease with which I can just go in and order what i want was amazing,
        It has been a very pleasant experience ordering from this app”
      </p>
      <img src="./images/customers/Sumith-Shah2.jpg" alt="Sumith-Shah2" />
      <h3>Sumith Shah</h3>
      <p>Some Dude</p>
    </li>
  </ul>
</section>
