<section class="customers__background">
  <div class="customers section container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="castomers__thumbs">
      <div class="customers__cards">
        <ul class="customers__icons">
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="customers__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__client">
          <img
            srcset="
              ./images/customers/sumith-shah-1-x1.jpg 1x,
              ./images/customers/sumith-shah-1-x2.jpg 2x
            "
            src="./images/customers/sumith-shah-1-x1.jpg"
            alt="sumith-shah"
          />
          <div class="customers__block">
            <h3 class="customers__name">Sumith Shah</h3>
            <p class="customers__sourname">Some Dude</p>
          </div>
        </div>
      </div>
      <div class="customers__cards">
        <ul class="customers__icons">
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
          <li>
            <svg width="17px" height="16px">
              <use href="./images/symbol-defs.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="customers__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers__client">
          <img
            srcset="
              ./images/customers/sumith-shah-2-x1.jpg 1x,
              ./images/customers/sumith-shah-2-x2.jpg 2x
            "
            src="./images/customers/sumith-shah-2-x1.jpg"
            alt="sumith-shah2"
          />
          <div class="customers__block">
            <h3 class="customers__name">Sumith Shah</h3>
            <p class="customers__sourname">Some Dude</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
