<section class="favorites section" id="favorites">
    <div class="container">
        <h2 class="favorites__label">Some of Our Favorites</h2>
        <p class="favorites__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites__list">
            <li class="favorites__item">
                <picture>
                    <source
                        srcset="/src/images/favorites/mob/gamburger-mob-1.png 1x, /src/images/favorites/mob/gamburger-mob-2.png 2x"
                        media="(max-width: 767px)" />
                    <source
                        srcset="/src/images/favorites/tablet/gamburger-tab-1.png 1x, /src/images/favorites/tablet/gamburger-tab-2.png 2x"
                        media="(max-width: 1279px)" />
                    <source
                        srcset="/src/images/favorites/pc/gamburger-pc-1.png 1x, /src/images/favorites/pc/gamburger-pc-2.png 2x"
                        media="(min-width: 1280px)" />
                    <img class="favorites__img" src="/src/images/favorites/pc/gamburger-pc-1.png" alt="gamburger" />
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="/src/images/favorites/mob/pasta-mob-1.png 1x, /src/images/favorites/mob/pasta-mob-2.png 2x"
                        media="(max-width: 767px)" />
                    <source
                        srcset="/src/images/favorites/tablet/pasta-tab-1.png 1x, /src/images/favorites/tablet/pasta-tab-2.png 2x"
                        media="(max-width: 1279px)" />
                    <source srcset="/src/images/favorites/pc/pasta-pc-1.png 1x, /src/images/favorites/pc/pasta-pc-2.png 2x"
                        media="(min-width: 1280px)" />
                    <img class="favorites__img" src="/src/images/favorites/pc/pasta-pc-1.png" alt="pasta" />
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="/src/images/favorites/mob/pizza-mob-1.png 1x, /src/images/favorites/mob/pizza-mob-2.png 2x"
                        media="(max-width: 767px)" />
                    <source
                        srcset="/src/images/favorites/tablet/pizza-tab-1.png 1x, /src/images/favorites/tablet/pizza-tab-2.png 2x"
                        media="(max-width: 1279px)" />
                    <source srcset="/src/images/favorites/pc/pizza-pc-1.png 1x, /src/images/favorites/pc/pizza-pc-2.png 2x"
                        media="(min-width: 1280px)" />
                    <img class="favorites__img" src="/src/images/favorites/pc/pizza-pc-1.png" alt="pizza" />
                </picture>
            </li>
            <li class="favorites__item favorites__item--hidden">
                <picture>
                    <source
                        srcset="/src/images/favorites/tablet/chicken-tab-1.png 1x, /src/images/favorites/tablet/chicken-tab-2.png 2x"
                        media="(max-width: 1279px)" />
                    <source srcset="/src/images/favorites/pc/chicken-pc-1.png 1x, /src/images/favorites/pc/chicken-pc-2.png 2x"
                        media="(min-width: 1280px)" />
                    <img class="favorites__img" src="/src/images/favorites/pc/chicken-pc-1.png" alt="chicken" />
                </picture>
            </li>
            <li class="favorites__item favorites__item--hidden">
                <picture>
                    <source
                        srcset="/src/images/favorites/tablet/salat-tab-1.png 1x, /src/images/favorites/tablet/salat-tab-2.png 2x"
                        media="(max-width: 1279px)" />
                    <source srcset="/src/images/favorites/pc/salat-pc-1.png 1x, /src/images/favorites/pc/salat-pc-2.png 2x"
                        media="(min-width: 1280px)" />
        
                    <img class="favorites__img" src="/src/images/favorites/pc/salat-pc-1.png" alt="salat" />
                </picture>
            </li>
            <li class="favorites__item favorites__item--hidden">
                <picture>
                    <source
                        srcset="/src/images/favorites/tablet/borshch-tab-1.png 1x, /src/images/favorites/tablet/borshch-tab-2.png 2x"
                        media="(max-width: 1279px)" />
                    <source srcset="/src/images/favorites/pc/borshch-pc-1.png 1x, /src/images/favorites/pc/borshch-pc-2.png 2x"
                        media="(min-width: 1280px)" />
                    <img class="favorites__img" src="/src/images/favorites/pc/borshch-pc-1.png" alt="borshch" />
                </picture>
            </li>
    </div>
    
</section>