<section class="favorites">
    <h2 class="favorites__label">Some of Our Favorites</h2>
    <p class="favorites__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="favorites__list">
        <li class="favorites__item">
            <img class="favorites__img" src="/src/images/favorites/pc/gamburger-pc-1.png" alt="gamburger" />
        </li>
        <li class="favorites__item">
            <img class="favorites__img" src="/src/images/favorites/pc/pasta-pc-1.png" alt="pasta" />
        </li>
        <li class="favorites__item">
            <img class="favorites__img" src="/src/images/favorites/pc/pizza-pc-1.png" alt="pizza" />
        </li>
        <li class="favorites__item">
            <img class="favorites__img" src="/src/images/favorites/pc/chicken-pc-1.png" alt="chicken" />
        </li>
        <li class="favorites__item">
            <img class="favorites__img" src="/src/images/favorites/pc/salat-pc-1.png" alt="salat" />
        </li>
        <li class="favorites__item">
            <img class="favorites__img" src="/src/images/favorites/pc/borshch-pc-1.png" alt="borshch" />
        </li>
</section>