<footer class="footer">
    <div class="container container__footer section">
  <div class="footer__list__from">
    <div class="footer__logo__list">
    <a class="logo__footer" href="./index.html">
        <picture>
            <source srcset="
            ./images/header/logo-desk-1x.png 1x,
            ./images/header/logo-desk-2x.png 2x"

            media="(min-width: 1280px)"/> 

            <source srcset="
            ./images/header/logo-tab-1x.png 1x,
            ./images/header/logo-tab-2x.png 2x"

            media="(min-width: 768px)"/>

            <source
            srcset="
            ./images/header/logo-mob-1x.png 1x,
            ./images/header/logo-mob-2x.png 2x"
            
            media="(max-width: 767px)"/>     

            <img src="images/header/logo-desk-1x.png" 
            alt="Логотип FoodSta" />
        </picture>
    </a>

    <ul class="footer__list list">  
        <li class="footer__item">  
          <a class="footer__link" href="#hero">Home</a>  
        </li>  
        <li class="footer__item">  
          <a class="footer__link" href="#offerings">About</a>  
        </li>  
        <li class="footer__item">  
            <a class="footer__link" href="#favorites">Service</a>  
          </li>  
        <li class="footer__item">  
            <a class="footer__link" href="#customers">Menu</a>  
        </li>  
          <li class="footer__item">  
            <a class="footer__link" href="#subscribe">Contact</a>  
          </li>  
         </ul>
    </div>
    <div class="footer__title__from">
        <p class="footer__title">Subscribe</p>

        <form class="footer__from">
        <input class="footer__input" type="text" name="email" id="email"
        placeholder="Enter your email" required />
        <label class="footer__label" for="email"></label>
        <button class="footer__button" type="submit">Subscribe</button>
        </form>
      
        <p class="footer__discriotion">By subscribing you agree to with our 
            <span class="footer__disc"><a class="footer__discriotion__item" href="#">Privacy Policy</a>
             </span>
        </p>
    </div>
  </div>
    <div class="footer__nav__data">
        <ul class="footer__list__nav list">
            <li class="footer__nav"><a class="nav__link" href="#">Privacy Policy</a></li>
            <li class="footer__nav"><a class="nav__link" href="#">Terms of Service</a></li>
            <li class="footer__nav"><a class="nav__link" href="#">Cookies Settings</a></li>
        </ul>
        <p class="footer__data">2022 FoodSta. All right reserved.</p>
    </div>
    </div>
    </footer>