<footer class="container">
    <a class="logo" href="#">logo</a>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Service</li>
        <li>Menu</li>
        <li>Contact</li>
    </ul>
    <p>Subscribe</p>
    <form>
    <input type="text" name="email" id="email"
    placeholder="Enter your email" required />
        <label for="email"></label>
    <button type="submit">Subscribe</button>
    </form>
    <p>By subscribing you agree to with our 
        <span><a href="#">Privacy Policy</a>
        </span>
    </p>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Cookies Settings</a></li>
        </ul>
        <p>2022 FoodSta. All right reserved.</p>
</footer>