<header class="header">
  <div class="container header__container">
    <nav class="navigation">
      <a class="logo-header" href="./index.html">
        <picture>
          <source
            srcset="
              ./images/header/logo-desk-1x.png 1x,
              ./images/header/logo-desk-2x.png 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/header/logo-tab-1x.png 1x,
              ./images/header/logo-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/header/logo-mob-1x.png 1x,
              ./images/header/logo-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="images/header/logo-desk-1x.png"
            alt="Логотип FoodSta"
            width="66px"
          />
        </picture>
      </a>

      <div class="burger_menu-box">
        <button type="button" class="burger_menu" data-modall-open>
          <svg width="28" height="28" aria-label="Перемикач мобільного меню">
            <use href="/src/images/symbol-defs.svg#icon-menu"></use>
          </svg>
        </button>
      </div>

      <div class="navigation__wrap">
        <ul class="navigation_list list">
          <li class="navigation_item">
            <a class="navigation_link" href="#hero">Hero</a>
          </li>
          <li class="navigation_item">
            <a class="navigation_link" href="#offerings">Offerings</a>
          </li>
          <li class="navigation_item">
            <a class="navigation_link" href="#favorites">Favorites</a>
          </li>
          <li class="navigation_item">
            <a class="navigation_link" href="#customers">Customers Say</a>
          </li>
          <li class="navigation_item">
            <a class="navigation_link" href="#subscribe">Subscribe</a>
          </li>
        </ul>
        <button
          type="button"
          class="hero__buttonOpenModal header__button"
          data-modal-open
        >
          Order Now
        </button>
      </div>
    </nav>

    <!-- <include src="./partials/burger_menu.html"></include> -->
  </div>
</header>
