<section class="hero container">
  <div class="hero__wrap">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__desription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="hero__button" type="submit">Order now</button>
  </div>
  <div class="hero__slider">
    <img src="./images/hero/pc/foto1@1x.png" alt="meatball" class="hero__img" />
  </div>
</section>
