<section class="hero section" id="hero">
  <div class="hero__container container">
    <div class="hero__wrap">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button
        type="button"
        class="hero__buttonOpenModal hero__button"
        data-modal-open
      >
        Order Now
      </button>
    </div>
    <div class="hero__slider">
      <picture class="hero__img">
        <source
          srcset="
            ./images/hero/tablet/foto1@1x.png 1x,
            ./images/hero/tablet/foto1@2x.png 2x
          "
          media="(max-width: 1279px)"
        />
        <source
          srcset="
            ./images/hero/pc/foto1@1x.png 1x,
            ./images/hero/pc/foto1@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <img src="/src/images/hero/pc/foto1@1x.png" alt="foto1" />
      </picture>
      <button class="hero__slider_btn">
        <svg class="hero__svg" width="17" height="29">
          <use href="./images/symbol-defs.svg#icon-vector-left"></use>
        </svg>
      </button>
      <button class="hero__slider_btn-right">
        <svg class="hero__svg" width="17" height="29">
          <use href="./images/symbol-defs.svg#icon-vector-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
