<section class="hero container">
  <div class="hero__wrap">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__desription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="hero__button" type="submit">Order now</button>
  </div>
  <div class="hero__slider">
    <img
      srcset="
        ./images/hero/pc/foto1@1x.png  528w,
        ./images/hero/pc/foto1@2x.png 1056w
      "
      src="./images/hero/pc/foto1@1x.png"
      alt="meatball"
      class="hero__img"
      sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px"
    />
    <button class="hero__slider_btn">
      <svg class="hero__svg" width="17" height="29">
        <use href="./images/symbol-defs.svg#icon-vector-left"></use>
      </svg>
    </button>
    <button class="hero__slider_btn-right">
      <svg class="hero__svg" width="17" height="29">
        <use href="./images/symbol-defs.svg#icon-vector-right"></use>
      </svg>
    </button>
  </div>
</section>
