<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <p class="modal__title">Order Form</p>

    <form class="modal__form">
      <div class="modal__form-element">
        <label class="modal__form-field" for="username"
          ><span class="modal__form-label">Name</span>
          <input
            class="modal__input-modal"
            type="text"
            name="username"
            id="username"
            required
            minlength="3"
            maxlength="25"
            placeholder="Your name"
          />
        </label>
      </div>

      <div class="modal__form-element">
        <label class="modal__form-field" for="phone_number"
          ><span class="modal__form-label">Phone number</span>
          <input
            class="modal__input-modal"
            type="tel"
            name="phone_number"
            id="phone_number"
            required
            placeholder="+38(0_ _)_ _ _  _ _  _ _"
            pattern="^+380\d{3}\d{2}\d{2}\d{2}$"
            minlength="13"
            maxlength="13"
          />
        </label>
      </div>

      <div class="modal__form-element">
        <label class="modal__form-field" for="email"
          ><span class="modal__form-label">E-mail</span>
          <input
            class="modal__input-modal"
            type="email"
            name="email"
            id="email"
            required
            placeholder="example@gmail.com"
          />
        </label>
      </div>
      <button type="submit" class="modal__submit-btn">Send</button>
    </form>
    <button type="button" data-modal-close class="modal__close-button">
      <svg class="icon-cross" width="24px" height="24px">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
  </div>
</div>
