<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <p class="modal__title">Order Form</p>

    <form class="modal__form">
      <div class="modal__form-element">
        <label class="modal__form-field" for="username"
          ><span class="modal__form-label">Name</span></label
        >
        <div class="input-wrap">
          <input
            class="modal__input-modal"
            type="text"
            name="username"
            id="username"
            required
            minlength="3"
            maxlength="25"
            placeholder="Your name"
          />
          <span class="red-error">
            <svg class="icon-frame" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-frame"></use>
            </svg>
            The name must be between 3 and 25 characters
          </span>
        </div>
      </div>

      <div class="modal__form-element">
        <label class="modal__form-field" for="phone_number"
          ><span class="modal__form-label">Phone number</span></label
        >
        <div class="input-wrap">
          <input
            class="modal__input-modal"
            type="tel"
            name="phone_number"
            id="phone_number"
            required
            placeholder="+38(0_ _)_ _ _  _ _  _ _"
            pattern="^+380\d{3}\d{2}\d{2}\d{2}$"
            minlength="13"
            maxlength="13"
          />
          <span class="red-error">
            <svg class="icon-frame" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-frame"></use>
            </svg>
            This phone must be in the format 099 000 00 00
          </span>
        </div>
      </div>

      <div class="modal__form-element">
        <label class="modal__form-field" for="e-mail"
          ><span class="modal__form-label">E-mail</span></label
        >
        <div class="input-wrap">
          <input
            class="modal__input-modal"
            type="email"
            name="email"
            id="e-mail"
            required
            placeholder="example@gmail.com"
          />
          <span class="red-error">
            <svg class="icon-frame" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-frame"></use>
            </svg>
            Please enter a valid email address
          </span>
        </div>
      </div>
      <button type="submit" class="modal__submit-btn">Send</button>
    </form>
    <button type="button" data-modal-close class="modal__close-button">
      <svg class="icon-cross" width="24px" height="24px">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
  </div>
</div>
