<section class="subscribe" id="subscribe">
  <div class="subscribe__wrap container">
    <div class="subscribe__image">
      <img
        srcset="
          ./images/subscribe/banan-m.png     280w,
          ./images/subscribe/banan@2x-m.png  560w,
          ./images/subscribe/banan-t.png     281w,
          ./images/subscribe/banan@2x-t.png  562w,
          ./images/subscribe/banan-d.png     608w,
          ./images/subscribe/banan@2x-d.png 1216w
        "
        src="./images/subscribe/banan-m.png"
        sizes="(min-width: 1279px) 608px, (min-width: 481px) 281px, 280px"
        alt="Image banan"
      />
    </div>
    <div class="subscribe__content">
      <h1 class="subscribe__title">Subscribe To Get Special Offers</h1>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="subscribe__form">
        <label for="mailing"></label>
        <input
          type="email"
          name="mailing"
          id="mailing"
          placeholder="Enter your email"
          required
          class="subscribe__input"
        />
        <button type="submit" class="subscribe__btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
