.section__offerings {  
         
   
    @include tablet {        
        margin-top: -212px;
    }
    
}
.container__offerings {
    background:   url(../images/offerings/offerings-bg.svg) 50% 0px no-repeat;    
    background-size: auto auto;
    padding: 0;
    padding-top: 18.55%;    
    margin: 0 auto;
    
    @include mobile {
        width: $mobile;
        padding-top: 89.5px;
    }
    @include tablet {
        background: url(../images/offerings/offerings-bg-t.svg) 50% 0px no-repeat;
        padding-top: 115px;
        width: $tablet;
    }
    @include pc {        
        padding-top: 190px;
        width: $pc;
    }    
}
.offerings__warps {
    background-color: #FFE550;
    padding-bottom: 60px;
    @include tablet {
        padding-bottom: 100px;
    }
    @include pc {
        display: flex;
        align-items: center;
        padding-bottom: 43px;
        gap: 90px;
    }
}
.offerings__image {
   margin-bottom: 60px;
    @include pc {
        margin-bottom: 0;
    }
}
.offerings__info {
    @include pc {
        width: 573px;
    }
    
}
.offerings__icon {
    display: block;       
    margin: 0 auto;
    
}
.offerings__title {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 1.18;

    @include tablet {
        font-size: 42px;
        line-height: 1.17;
    }

    @include pc {
        line-height: 1.2;
    }
}
.offerings__paragraph {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 1.14;

    @include tablet {
        font-size: 16px;
        line-height: 1.19;
    }

    @include pc {
        line-height: 1.5;
    }
}
.advantages {
    &__list {
        margin-bottom: 28px;

        @include tablet {
            display: flex;
            margin-bottom: 40px;
        }
        @include pc {
            margin-right: 32px;
        }
    }

    &__item {
        &:first-child {
            margin-bottom: 28px;

            @include tablet {
                margin-right: 116px;
            }            
            
        }
        &:first-child::before {
            content: "";
            display: block;
            width: 48px;
            height: 48px;
            background: white url(../images/offerings/rocket.svg) 50% 50% no-repeat;
            border-radius: 50%;
        }

        &:last-child::before {
            content: "";
            display: block;
            width: 48px;
            height: 48px;
            background: white url(../images/offerings/touch.svg) 50% 50% no-repeat;
            border-radius: 50%;
        }
        @include tablet {
            width: 252px;
        }
    }
    &__title {
        margin-top:8px ;
        margin-bottom: 16px;

        font-size: 18px;
        line-height: 1.17;
    
        @include pc {
            line-height: 1.4;
        }
    }
    &__paragraph {
        font-size: 14px;
        line-height: 1.14;

        @include pc {
            line-height: 1.5;
        }
    }
}


.offerings__room {
    display: flex;
    align-items: center;
    gap: 23px;
}
.offerings__link {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 7px 0;


    font-size: 13px;
    line-height: 1.5;

    &:hover,
    &:focus {
        color: 7EB101;
        fill: #7EB101;
    }
    &:active {
        color: black;
        fill: black;
    }
    @include pc {
        display: none;
    }
}